{% extends 'layouts/base.html' %}

{%block content%}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum optio, aut officia, doloribus pariatur numquam ipsa impedit, vel eum maxime dicta consectetur omnis adipisci! Amet ut maiores quia at minus adipisci alias. Maiores, odio atque et aliquam voluptatum, nam libero sunt reprehenderit voluptate eaque, perferendis sed mollitia corporis quidem incidunt nostrum repellendus. Magni earum tempore tenetur incidunt sit, nam vel modi dolorem totam cupiditate voluptates? Fugit, voluptatum incidunt. Expedita maiores non ipsum! Error ipsa, dolore assumenda nihil quibusdam quidem inventore, suscipit dignissimos voluptatem illum repellat nostrum voluptates deserunt laboriosam, voluptatum fugiat eligendi minus. Nostrum asperiores, perspiciatis beatae molestias doloribus unde!</p>

{%endblock%}